extends layout

block content
    div
      table
        thead
          tr: th User in Datenbank
        tbody
        for user in userlist
          tr
            td
              name=user.username
            td
              usermail=user.email
